Repository BioPhoton/angular-movies-perf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

refactor: make sidedrawer pure css instead of mobileMatcher (#74)
  package-lock.json
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/shared/component/side-drawer/side-drawer.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: remove material icons font
  src/index.html
Due: prettier --write

perf: remove polyfills
  angular.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
Due: prettier --write

refactor: improve responsive layout
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/movies/movie-list/movie-list.component.scss
  src/app/shared/component/search-bar/search-bar.component.ts
  src/assets/scss/mixins.scss
  src/assets/scss/typography.scss
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: apply contain styling rule to app shell
  src/app/app-shell/app-shell.component.scss
  src/app/movies/movie-list/movie-list.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
Due: prettier --write, stylelint --fix

perf: remove polyfills (#77)
  angular.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
Due: prettier --write

perf: optimize images (#76)
  src/assets/dark-android-chrome-192x192.png
  src/assets/dark-android-chrome-512x512.png
  src/assets/dark-apple-touch-icon.png
  src/assets/dark-favicon-16x16.png
  src/assets/dark-favicon-32x32.png
  src/assets/dark-mstile-150x150.png
  src/assets/dark.png
  src/assets/icons/android-chrome-192x192.png
  src/assets/icons/android-chrome-384x384.png
  src/assets/icons/android-chrome-512x512.png
  src/assets/icons/apple-touch-icon.png
  src/assets/icons/favicon-16x16.png
  src/assets/icons/favicon-32x32.png
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
  src/assets/icons/icone.png
  src/assets/icons/mstile-150x150.png
  src/assets/light-android-chrome-192x192.png
  src/assets/light-android-chrome-512x512.png
  src/assets/light-apple-touch-icon.png
  src/assets/light-favicon-16x16.png
  src/assets/light-favicon-32x32.png
  src/assets/light-mstile-150x150.png
  src/assets/light.png
  src/assets/movies-meta-image.jpg
Due: none

refactor: remove material icons font (#75)
  src/index.html
Due: prettier --write

perf: apply contain styling rule to app shell (#79)
  src/app/app-shell/app-shell.component.scss
  src/app/movies/movie-list/movie-list.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
Due: prettier --write, stylelint --fix

perf: fetch smaller images
  src/app/movies/movie-list/movie-list.component.ts
  src/app/shared/utils/image-sizes.ts
Due: prettier --write, tslint --fix

perf: remove mat-dialog
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: fetch smaller images (#80)
  src/app/movies/movie-list/movie-list.component.ts
  src/app/shared/utils/image-sizes.ts
Due: prettier --write, tslint --fix

perf: remove mat-dialog (#81)
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor: improve responsive layout
  src/app/movies/movie-list/movie-list.component.scss
Due: prettier --write, stylelint --fix

Responsive layout adoption (#82)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/movies/movie-list/movie-list.component.scss
  src/app/shared/component/search-bar/search-bar.component.ts
  src/assets/scss/mixins.scss
  src/assets/scss/typography.scss
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove cdk/overlay, init geners
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/service/state.service.ts
  src/app/shared/utils/track-by.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove cdk/overlay, init geners (#83)
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/service/state.service.ts
  src/app/shared/utils/track-by.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove custom-theme
  src/assets/scss/custom_theme.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

perf: introduce chunked list rendering
  src/app/app.module.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/app/shared/directives/rx-for.directive.ts
  src/app/shared/images/lazy-img/lazy-img.directive.ts
  src/app/shared/service/state.service.ts
  src/app/shared/utils/custom-strategies.ts
Due: prettier --write, tslint --fix

perf: remove custom-theme (#84)
  src/assets/scss/custom_theme.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

perf: remove custom font
  src/index.html
Due: prettier --write

perf: remove custom font (#86)
  src/index.html
Due: prettier --write

perf: set contain to layout
  src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

perf: use rxFor in sidebar
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
Due: prettier --write, tslint --fix

perf: introduce chunked list rendering (#85)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
  src/app/app.module.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/app/shared/directives/rx-for.directive.ts
  src/app/shared/images/lazy-img/lazy-img.directive.ts
  src/app/shared/utils/custom-strategies.ts
Due: prettier --write, tslint --fix

perf: fix SEO bug
  src/app/app-shell/app-shell.component.html
Due: prettier --write

perf: fix SEO bug (#87)
  src/app/app-shell/app-shell.component.html
Due: prettier --write

Update README.md
  README.md
Due: none

perf: reduce CLS, preload static images
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/index.html
Due: prettier --write, stylelint --fix

perf: reduce CLS, preload static images (#88)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/index.html
Due: prettier --write, stylelint --fix

perf: reduce CLS, chunk bootstrap work to reduce TBT
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
  src/main.ts
Due: prettier --write, tslint --fix, stylelint --fix

styles: fix scrollbar glitch
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
Due: prettier --write, stylelint --fix

Cls and tbt (#89)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
  src/main.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: polish, fix glitch in dark theme
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: sidenav desktop non-drawer design
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: sidenav link color a11y
  src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
