Repository BioPhoton/angular-movies-perf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "tslint --fix"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "*.{html,js,json}": ["prettier --write"]
}

chore: correct font import
  src/index.html
Due: prettier --write

perf: improve css and font imports (#53)
  src/app/app-shell/app-shell.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2
  src/assets/fonts/roboto-v18-latin-regular.woff2
  src/assets/scss/custom_theme.scss
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor(hub-movies): use angular router for movie detail page
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

refactor(hub-movies): remove not needed import
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

refactor(hub-movies): implement genres. swap routerLink to click binding
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/container/routes.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
Due: prettier --write, tslint --fix

refactor(hub-movies): fix hamburger-nav-button
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

refactor(hub-movies): implement genres (#55)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/container/routes.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
Due: prettier --write, tslint --fix

refactor(hub-movies): use angular router for movie detail page (#54)
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

refactor: show proper route after login/logout. fix loading and no-data in lists
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.state.ts
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

refactor: set prod env baseurl
  src/environments/environment.prod.ts
Due: prettier --write, tslint --fix

refactor: use location api instead of env
  src/app/auth/auth.state.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

refactor: ignore queryParams for activeRoute class
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

refactor: implement loading spinner and improve route switch
  src/app/app-shell/app-shell.component.scss
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/loader/loader.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor: remove not needed css and console logs
  src/app/movies/container/movies.component.ts
Due: prettier --write, tslint --fix

refactor: show proper route after login/logout. fix loading and no-data (#56)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.state.ts
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/loader/loader.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

chore: merge
  angular.json
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/main.ts
Due: prettier --write, tslint --fix

perf: add ssr files
  server.ts
  src/app/app.server.module.ts
  src/main.server.ts
  src/tsconfig.server.json
Due: prettier --write, tslint --fix

refactor: fix loading state, cast display and recommended movie list
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: setup SSR and http transfer
  angular.json
  netlify.toml
  netlify/functions/.gitkeep
  package-lock.json
  package.json
  server.ts
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/movies/movie/movie.component.html
  src/app/shared/service/tmdb/content-type-json.interceptor.ts
  src/app/shared/service/tmdb/http-interceptor.providers.ts
  src/app/shared/service/tmdb/read-access.interceptor.ts
  src/app/shared/service/tmdb/universal.interceptor.ts
  tsconfig.json
Due: prettier --write, tslint --fix

perf: setup SSR and HTTP transfer (#57)
  angular.json
  netlify.toml
  netlify/functions/.gitkeep
  package-lock.json
  package.json
  server.ts
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/service/tmdb/content-type-json.interceptor.ts
  src/app/shared/service/tmdb/http-interceptor.providers.ts
  src/app/shared/service/tmdb/read-access.interceptor.ts
  src/app/shared/service/tmdb/universal.interceptor.ts
  src/main.server.ts
  src/main.ts
  src/tsconfig.server.json
  tsconfig.json
Due: prettier --write, tslint --fix

refactor: adapt movie detail page to nextjs templates. apply responsive styles
  src/app/app-shell/app-shell.component.scss
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

Fix movie detail (#58)
  src/app/app-shell/app-shell.component.scss
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: introduce aspect ratio box
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/aspect-ratio-box/aspect-ratio-box.component.ts
  src/app/shared/component/aspect-ratio-box/aspect-ratio-box.module.ts
Due: prettier --write, tslint --fix

perf: introduce aspect ratio box (#59)
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/aspect-ratio-box/aspect-ratio-box.component.ts
  src/app/shared/component/aspect-ratio-box/aspect-ratio-box.module.ts
Due: prettier --write, tslint --fix

chore: change netliy functions
  netlify.toml
Due: none

chore: change netlify functions
  netlify.toml
Due: none

refactor: build SSR and index path
  angular.json
  package.json
  server.ts
Due: prettier --write, tslint --fix

refactor: serverless handler
  package-lock.json
  package.json
  server.ts
Due: prettier --write, tslint --fix

build: netlify functions config
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write

refactor: server app function adapter export fixed
  server.ts
Due: prettier --write, tslint --fix

refactor: function index html path on netlify
  netlify.toml
  server.ts
Due: prettier --write, tslint --fix

refactor: firebase as hosting and SSR function
  .firebaserc
  firebase.json
  functions/src/index.ts
  functions/tsconfig.json
  netlify/functions/.gitkeep
  package-lock.json
  package.json
Due: prettier --write, tslint --fix

refactor: removed netlify hosting setup
  docs/netlify-deploy.md
  netlify.toml
  package-lock.json
  package.json
  server.ts
Due: prettier --write, tslint --fix

perf: function resources bumped to the fastest option
  functions/src/index.ts
Due: prettier --write, tslint --fix

build: local serve options for SSR updated in scripts
  package.json
Due: prettier --write

build: target of SSR function bumped to ES2019
  functions/tsconfig.json
Due: prettier --write

build: removed husky prepare script that was causing functions deploy to fail
  package.json
Due: prettier --write

perf: transfer SSR state
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/shared/service/tmdb/universal.interceptor.ts
Due: prettier --write, tslint --fix

refactor: removed non-existing property
  src/app/movies/container/movies.component.html
Due: prettier --write

refactor: movie url mapping
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix
