Repository BioPhoton/angular-movies-perf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

refactor: server static files fallthrough if not found instead of rendering default page
  server.ts
Due: prettier --write, tslint --fix

perf: static cache config for js/css and images
  firebase.json
Due: prettier --write

refactor: strictNullChecks enabled
  server.ts
  src/app/about/container/about.component.ts
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/pagination/pagination.component.ts
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  tsconfig.json
Due: prettier --write, tslint --fix

refactor: strict checks enabled
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/shared/component/aspect-ratio-box/aspect-ratio-box.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/service/storage/storage.service.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/sign-in/sign-in.component.ts
  tsconfig.json
Due: prettier --write, tslint --fix

refactor: added missing trailer video functionality
  src/app/movies/model/movie-details.model.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.scss
  src/app/movies/movie/movie-trailer/movie-trailer.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: setup router level lazy-loading for main and child routes
  src/app/about/about.module.ts
  src/app/about/about.routed.module.ts
  src/app/about/routes.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/container/movies.routed.module.ts
  src/app/movies/container/routes.ts
  src/app/movies/movie/movie.module.ts
  src/app/sign-in/sign-in.module.ts
  src/app/sign-in/sign-in.routing.ts
Due: prettier --write, tslint --fix

build: named chunks enabled for production build
  angular.json
Due: prettier --write

perf: remove zone.js
  src/app/app.component.ts
  src/app/movies/container/movies.component.html
  src/app/shared/utils/is-noop-zone.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
  src/main.ts
  src/polyfills.ts
Due: prettier --write, tslint --fix

perf: adopt build targets and .browserlistrc
  .browserslistrc
  package.json
  src/polyfills.ts
Due: prettier --write, tslint --fix

perf: remove zone.js (#61)
  .browserslistrc
  package.json
  src/app/app.component.ts
  src/app/movies/container/movies.component.html
  src/app/shared/utils/is-noop-zone.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
  src/main.ts
  src/polyfills.ts
Due: prettier --write, tslint --fix

refactor: make zoneless routing work
  src/app/shared/utils/is-noop-zone.ts
  src/app/shared/utils/is-zone-present.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
  src/main.ts
Due: prettier --write, tslint --fix

perf: add PWA support
  angular.json
  package.json
  src/app/app.module.ts
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
  src/index.html
  src/manifest.json
  src/manifest.webmanifest
  src/ngsw-config.json
Due: prettier --write, tslint --fix

refactor: replace mat-sidenav with slim custom implementation
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/backdrop/backdrop.component.ts
  src/app/shared/component/side-drawer/side-drawer.component.ts
  src/assets/scss/custom_theme.scss
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor: replace mat-sidenav with slim custom implementation (#62)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/backdrop/backdrop.component.ts
  src/app/shared/component/side-drawer/side-drawer.component.ts
  src/assets/scss/custom_theme.scss
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: add custom toggle instead of material
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: add custom toggle instead of material (#63)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: add PWA support (#64)
  angular.json
  package.json
  src/app/app.module.ts
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
  src/index.html
  src/manifest.json
  src/manifest.webmanifest
  src/ngsw-config.json
Due: prettier --write, tslint --fix

refactor: implement custom searchbar
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/form-control/form-control.component.ts
  src/app/shared/component/icons/search/search-icon.component.svg
  src/app/shared/component/icons/search/search-icon.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove mat form field
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/share-modal/share-modal.component.html
  src/app/shared/component/share-modal/share-modal.module.ts
Due: prettier --write, tslint --fix

refactor: implement search
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/shared/component/icons/search/search-icon.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: implement search
  src/app/shared/component/search-bar/search-bar.component.ts
Due: prettier --write, tslint --fix

perf: update rxa
  package-lock.json
  package.json
  src/app/app-shell/app-shell.module.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.module.ts
Due: prettier --write, tslint --fix

perf: update rxa (#66)
  package-lock.json
  package.json
  src/app/app-shell/app-shell.module.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.module.ts
Due: prettier --write, tslint --fix

refactor: implement search
  src/app/app-shell/app-shell.component.scss
Due: prettier --write, stylelint --fix

refactor: implement custom searchbar (#65)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/shared/component/form-control/form-control.component.ts
  src/app/shared/component/icons/search/search-icon.component.svg
  src/app/shared/component/icons/search/search-icon.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/app/shared/component/share-modal/share-modal.component.html
  src/app/shared/component/share-modal/share-modal.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove mat-form-field
  src/app/app-shell/app-shell.module.ts
  src/assets/scss/custom_theme.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: reduce code
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
Due: prettier --write, tslint --fix

perf: add initial state
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
Due: prettier --write, tslint --fix

build: firebase deploy & preview ready GH actions
  .github/workflows/build-and-test.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

docs: fix readme
  README.md
  package.json
  src/app/app-shell/app-shell.module.ts
  src/environments/environment.local.example.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

refactor: remove trailer link
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.ts
Due: prettier --write, tslint --fix

perf: update rxjs and rx-angular
  README.md
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
Due: prettier --write, tslint --fix

perf: update rxjs and rx-angular (#70)
  README.md
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/search-bar/search-bar.component.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/shared/zone-agnostic/zone-less-routing.service.ts
Due: prettier --write, tslint --fix

refactor: repalce side menu icons with svg
  src/app/about/about.module.ts
  src/app/about/container/about.component.html
  src/app/about/container/about.component.scss
  src/app/about/container/about.component.ts
  src/app/app-routing.module.ts
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.scss
  src/app/movies/movie/movie-trailer/movie-trailer.component.spec.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.ts
  src/app/movies/movie/movie-trailer/movie-trailer.module.ts
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/share-modal/share-modal.component.html
  src/app/shared/component/share-modal/share-modal.component.scss
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/share-modal/share-modal.module.ts
  src/app/sign-in/sign-in.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: fix SSR flicker for light theme
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove browser animation module
  src/app/app.module.ts
Due: prettier --write, tslint --fix

refactor: replace rest of icons
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/app.component.scss
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/pagination/pagination.component.html
  src/app/shared/component/pagination/pagination.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

Animations (#71)
  src/app/app.module.ts
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.scss
  src/app/shared/component/dark-mode-toggle/dark-mode-toggle.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

Remove mat button and mat icon (#73)
  src/app/about/about.module.ts
  src/app/about/container/about.component.html
  src/app/about/container/about.component.scss
  src/app/about/container/about.component.ts
  src/app/app-routing.module.ts
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/app.component.scss
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.scss
  src/app/movies/movie/movie-trailer/movie-trailer.component.spec.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.ts
  src/app/movies/movie/movie-trailer/movie-trailer.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/pagination/pagination.component.html
  src/app/shared/component/pagination/pagination.module.ts
  src/app/shared/component/share-modal/share-modal.component.html
  src/app/shared/component/share-modal/share-modal.component.scss
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/share-modal/share-modal.module.ts
  src/app/sign-in/sign-in.module.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor: make sidedrawer pure css instead of mobileMatcher
  package-lock.json
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/shared/component/side-drawer/side-drawer.component.scss
  src/app/shared/component/side-drawer/side-drawer.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
