Repository BioPhoton/angular-movies-perf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

refactor(app-shell): adapt layout to next js templates
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/app.component.scss
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor(app-shell): adapt layout to next js templates
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/app.module.ts
  src/assets/scss/mixins.scss
Due: prettier --write, tslint --fix, stylelint --fix

styles: movie card styling
  .stylelintrc
  package-lock.json
  package.json
  src/app/movies/movie-list/movie-list.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/app/shared/utils/image-sizes.ts
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

refactor: remove account as not present in next app
  src/app/account/account-delete-modal/account-delete-modal.component.html
  src/app/account/account-delete-modal/account-delete-modal.component.scss
  src/app/account/account-delete-modal/account-delete-modal.component.ts
  src/app/account/account-routing.module.ts
  src/app/account/account.component.html
  src/app/account/account.component.scss
  src/app/account/account.component.ts
  src/app/account/account.module.ts
  src/app/app-routing.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: remove account as not present in next app
  src/app/app-shell/app-shell.component.html
Due: prettier --write

styles: style movies list
  src/styles.scss
Due: prettier --write, stylelint --fix

refactor(styles): separate typography styles. fix heading styles in movies-list
  src/app/movies/movie-list/movie-list.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/assets/scss/typography.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

refactor(hub-movies): suppress error on scroll due to missing element
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

chore: fix lint
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix

refactor: apply mobile styles
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.module.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor: App shell layout (#39)
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app-shell/app-shell.component.ts
  src/app/app-shell/app-shell.module.ts
  src/app/app.module.ts
  src/app/movies/movie-list/movie-list.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/assets/scss/mixins.scss
  src/assets/scss/typography.scss
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

chore: merge master
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.html
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.scss
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

styles: make grid look like next template
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.scss
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/assets/scss/mixins.scss
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

format: remove unused variable
  src/app/app.module.ts
Due: prettier --write, tslint --fix

styles: movie card styling (#40)
  .stylelintrc
  package-lock.json
  package.json
  src/app/account/account-delete-modal/account-delete-modal.component.html
  src/app/account/account-delete-modal/account-delete-modal.component.scss
  src/app/account/account-delete-modal/account-delete-modal.component.ts
  src/app/account/account-routing.module.ts
  src/app/account/account.component.html
  src/app/account/account.component.scss
  src/app/account/account.component.ts
  src/app/account/account.module.ts
  src/app/app-routing.module.ts
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.scss
  src/app/app.module.ts
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.scss
  src/app/movies/container/movies.component.ts
  src/app/movies/movie-list/movie-list.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.html
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.scss
  src/app/shared/component/hamburger-button/hamburger-button/hamburger-button.component.ts
  src/app/shared/utils/image-sizes.ts
  src/assets/scss/mixins.scss
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

styles: style movie detail page
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/shared/utils/image-sizes.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: optimize initial "popular" page rendering by 289ms
  package.json
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/images/lazy-img/lazy-img.directive.ts
  src/app/shared/images/lazy-img/lazy-img.module.ts
Due: prettier --write, tslint --fix

styles: style movie detail page (#43)
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.component.scss
  src/app/movies/movie/movie.component.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/shared/utils/image-sizes.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: optimize initial "popular" page rendering by 289ms (#45)
  package.json
  src/app/movies/movie-list/movie-list.component.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/app/shared/images/lazy-img/lazy-img.directive.ts
  src/app/shared/images/lazy-img/lazy-img.module.ts
Due: prettier --write, tslint --fix

perf: wip setup SSR
  angular.json
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
  src/app/auth/auth.state.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie-list/movie-list.module.ts
  src/app/movies/movie/movie.component.html
  src/app/movies/movie/movie.module.ts
  src/app/shared/component/share-modal/share-modal.component.ts
  src/app/shared/component/star-rating/star-rating.component.ts
  src/main.ts
Due: prettier --write, tslint --fix

perf: add ssr files
  server.ts
  src/app/app.server.module.ts
  src/main.server.ts
  src/tsconfig.server.json
Due: prettier --write, tslint --fix

refactor: remove lazy image dir, fix typing
  src/app/app-shell/app-shell.component.ts
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
Due: prettier --write, tslint --fix

Update src/app/app-shell/app-shell.component.ts
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

refactor: remove lazy image dir, fix typing (#46)
  src/app/movies/container/movies.component.ts
  src/app/movies/container/movies.module.ts
  src/app/movies/movie/movie.module.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
Due: prettier --write, tslint --fix

refactor: remove lazy img dir
  src/app/movies/movie/movie.component.html
Due: prettier --write

refactor: remove lazy image dir(#47)
  src/app/app-shell/app-shell.component.ts
  src/app/movies/movie/movie.component.html
Due: prettier --write, tslint --fix

refactor: movies list
  src/app/movies/container/movies.component.html
  src/app/movies/container/movies.component.ts
Due: prettier --write, tslint --fix

perf: add rx-angular packages
  package-lock.json
  package.json
Due: prettier --write

chore: merge
  package-lock.json
  package.json
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.module.ts
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

chore: add netlify config file
  docs/netlify-deploy.md
  netlify.toml
Due: none

chore: add build script for netlify deploy
  package.json
Due: prettier --write

chore: add netlify config file (#49)
  docs/netlify-deploy.md
  netlify.toml
Due: none

Netlify setup (#50)
  package.json
Due: prettier --write

perf: remove delay again
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

perf: test netlify overlay
  src/app/app.component.ts
Due: prettier --write, tslint --fix

perf: remove hammer js and analytics
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
Due: prettier --write, tslint --fix

perf: remove hammer js and analytics (#52)
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
Due: prettier --write, tslint --fix

perf: basic template chunking with rx-let (#48)
  package.json
  src/app/app-shell/app-shell.component.html
  src/app/app-shell/app-shell.component.ts
  src/app/app-shell/app-shell.module.ts
  src/app/movies/movie-list/movie-list.component.ts
Due: prettier --write, tslint --fix

perf: improve css and font imports. reduce bundle size. fix navigation links. fix movies list style
  src/app/app-shell/app-shell.component.html
  src/app/movies/movie-list/movie-list.component.scss
  src/app/movies/movie-list/movie-list.component.ts
  src/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2
  src/assets/fonts/roboto-v18-latin-regular.woff2
  src/assets/scss/custom_theme.scss
  src/index.html
  src/styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
