Repository BioPhoton/angular-movies-perf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

styles: format .prittierrc.json
  .prettierrc.json
Due: prettier --write

docs: add CONTRIBUTING.MD
  .github/CONTRIBUTING.MD
Due: none

chore: add commit-msg hook
  .husky/commit-msg
Due: none

chore: add pre-commit hook
  .husky/pre-commit
Due: none

refactor: remove unused package dayjs
  package.json
Due: prettier --write

docs: add git-hooks TL;DR
  docs/setup-git-hooks.md
Due: none

perf: remove empty styles file, refactore tests
  src/app/categories/categories-add-modal/categories-add-modal.component.html
  src/app/categories/categories-add-modal/categories-add-modal.component.scss
  src/app/categories/categories-add-modal/categories-add-modal.component.spec.ts
  src/app/categories/categories-add-modal/categories-add-modal.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove empty styles file, refactore tests
  src/app/categories/categories-delete-modal/categories-delete-modal.component.html
  src/app/categories/categories-delete-modal/categories-delete-modal.component.scss
  src/app/categories/categories-delete-modal/categories-delete-modal.component.spec.ts
  src/app/categories/categories-delete-modal/categories-delete-modal.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove empty styles file, refactore tests (#33)
  src/app/categories/categories-add-modal/categories-add-modal.component.html
  src/app/categories/categories-add-modal/categories-add-modal.component.scss
  src/app/categories/categories-add-modal/categories-add-modal.component.spec.ts
  src/app/categories/categories-add-modal/categories-add-modal.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

perf: remove empty styles file, refactore tests (#34)
  src/app/categories/categories-delete-modal/categories-delete-modal.component.html
  src/app/categories/categories-delete-modal/categories-delete-modal.component.scss
  src/app/categories/categories-delete-modal/categories-delete-modal.component.spec.ts
  src/app/categories/categories-delete-modal/categories-delete-modal.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore: fix lint
  package-lock.json
  src/app/auth/auth.service.ts
Due: prettier --write, tslint --fix

chore: fix lint
  src/app/firebase-app.ts
Due: prettier --write, tslint --fix

chore: fix tests
  src/app/auth/auth.guard.spec.ts
  src/app/categories/categories.component.spec.ts
Due: prettier --write, tslint --fix

chore: remove unused imports
  src/app/categories/categories.component.spec.ts
Due: prettier --write, tslint --fix

test: fix tests
  src/app/account/account.component.spec.ts
  src/app/app-shell/app-shell.component.spec.ts
  src/app/auth/auth.service.spec.ts
  src/app/movies/container/movies.component.spec.ts
  src/app/movies/movie-list/movie-list.component.spec.ts
  src/app/movies/movie/movie.component.spec.ts
  src/app/playlist/playlist.component.spec.ts
  src/app/shared/service/database/database.service.spec.ts
  src/app/sign-in/sign-in.component.spec.ts
Due: prettier --write, tslint --fix

test: fix tests
  src/app/account/account.component.spec.ts
  src/app/app-shell/app-shell.component.spec.ts
  src/app/auth/auth.guard.spec.ts
  src/app/auth/auth.service.spec.ts
  src/app/categories/categories.component.spec.ts
  src/app/movies/container/movies.component.spec.ts
  src/app/movies/movie-list/movie-list.component.spec.ts
  src/app/movies/movie/movie.component.spec.ts
  src/app/playlist/playlist.component.spec.ts
  src/app/shared/service/database/database.service.spec.ts
  src/app/sign-in/sign-in.component.spec.ts
Due: prettier --write, tslint --fix

chore: fix lint
  src/app/star/star.component.ts
Due: prettier --write, tslint --fix

chore: fix lint
  src/app/auth/auth.guard.spec.ts
  src/app/auth/auth.service.spec.ts
  src/app/movies/movie/movie.component.ts
Due: prettier --write, tslint --fix

chore: fix test
  src/app/account/account.component.ts
Due: prettier --write, tslint --fix

chore: update ngx-translate packages
  package.json
Due: prettier --write

fix: prevent null.json fetch when language is not set initially
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

chore: reduce num of lhci runs per collect
  lighthouserc.js
Due: prettier --write

refactor: upgrade firebase to version 9, make use tree-shaking (#26)
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  src/app/account/account.component.spec.ts
  src/app/account/account.component.ts
  src/app/app-shell/app-shell.component.spec.ts
  src/app/app.module.ts
  src/app/auth/auth.guard.spec.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.service.spec.ts
  src/app/auth/auth.service.ts
  src/app/categories/categories.component.spec.ts
  src/app/firebase-app.ts
  src/app/movies/container/movies.component.spec.ts
  src/app/movies/movie-list/movie-list.component.spec.ts
  src/app/movies/movie/movie.component.spec.ts
  src/app/movies/movie/movie.component.ts
  src/app/playlist/playlist.component.spec.ts
  src/app/shared/service/database/database.service.spec.ts
  src/app/shared/service/database/database.service.ts
  src/app/sign-in/sign-in.component.spec.ts
  src/app/star/star.component.ts
  tsconfig.json
Due: prettier --write, tslint --fix

Fix initial language fetch error (#35)
  package.json
  src/app/app-shell/app-shell.component.ts
Due: prettier --write, tslint --fix

chore: initial routing
  src/app/app-routing.module.ts
  src/app/app-shell/app-shell.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix

format: fix linting errors
  src/app/account/account.component.spec.ts
  src/app/account/account.component.ts
  src/app/app-shell/app-shell.component.spec.ts
  src/app/app-shell/app-shell.component.ts
  src/app/auth/auth.guard.spec.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.service.spec.ts
  src/app/auth/tmdbAuth.effects.ts
  src/app/movies/container/movies.component.spec.ts
  src/app/movies/movie-list/movie-list.component.spec.ts
  src/app/movies/movie/movie-trailer/movie-trailer.component.ts
  src/app/movies/movie/movie.component.spec.ts
  src/app/movies/movie/movie.component.ts
  src/app/shared/component/pagination/pagination.component.ts
  src/app/shared/service/tmdb/content-type-json.intercepter.ts
  src/app/shared/service/tmdb/read-access.intercepter.ts
  src/app/shared/service/tmdb/tmdb2.service.ts
  src/app/sign-in/sign-in.component.spec.ts
  src/app/sign-in/sign-in.component.ts
Due: prettier --write, tslint --fix

test: fix tests :)
  src/app/about/container/about.component.spec.ts
  src/app/account/account-delete-modal/account-delete-modal.component.spec.ts
  src/app/app-shell/app-shell.component.spec.ts
  src/app/auth/auth.guard.spec.ts
  src/app/auth/auth.service.spec.ts
  src/app/movies/container/movies.component.spec.ts
  src/app/movies/movie-list/movie-list.component.spec.ts
  src/app/movies/movie/movie.component.spec.ts
  src/app/shared/component/pagination/pagination.component.spec.ts
  src/app/shared/component/share-modal/share-modal.component.spec.ts
  src/app/shared/service/state.service.spec.ts
  src/app/shared/service/storage/storage.service.spec.ts
  src/app/sign-in/sign-in.component.spec.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
